<header class="clearfix">
	<a ng-href="#/" class="home">
    <div class="arrow clearfix">
      <img id="rArrow" src="images/arrow.svg" alt="arrow" width="15">
      <span>All Notes</span>
    </div>
  </a>

  <ul>
    <li><a id="pencil"><img src="images/pencil.svg" alt="edit" width="25"></a></li>
  </ul>
</header>

<div class="about">
	<h1>About</h1>
</div>

<div class="aboutCopy">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quod blanditiis ipsa ducimus aspernatur, quasi reiciendis tenetur ut sint, quae possimus porro deleniti earum iure illo voluptates libero voluptatum alias!</p>
</div>