<header class="clearfix">
	<a ng-href="#/" class="home">
    <div class="arrow clearfix">
      <img id="rArrow" src="images/arrow.svg" alt="arrow" width="15">
      <span>All Notes</span>
    </div>
  </a>

  <ul>
    <li ng-click="switchToEdit()" id="pencil" ng-show="previewMode"><img src="images/pencil.svg" alt="edit" width="25"></li>
  </ul>
</header>

<form>
  <div ng-show="previewMode">
    <div class="about">
      <h1>{{ post.title }}</h1>
    </div>

    <div class="aboutCopy">
     <p id="editBox">{{ post.aboutCopy }}</p>
    </div>
  </div>

  <!-- edit mode = true, show this -->
  <div ng-hide="previewMode">
    <div class="about">
      <h1>{{ post.title }}</h1>
    </div>
    
    <div class="copy">
      <textarea cols="30" rows="10" ng-model="post.aboutCopy" ng-change="post.$save(copy)">{{ post.aboutCopy }}</textarea>
    </div>
    
    <div class="btn">
      <span></span>
      <input type="submit" value="PREVIEW" ng-click="switchToPreview()">
    </div>
  </div>
</form>