<header class="clearfix">
  <a ng-href="#/" class="home">
    <div class="arrow clearfix">
      <img id="rArrow" src="images/arrow.svg" alt="arrow" width="15">
      <span>All Notes</span>
    </div>
  </a>

  <ul id="noteList" class="clearfix">
    <li><a id="about" href="" ng-click="addAbout()" ng-hide="aboutShow">Add About</a></li>
    <li><a id="about" href="" ng-click="deleteAbout()" ng-show="aboutShow">Remove About</a></li>
    <li><a id="trash" ng-href="/"><img src="images/remove.svg" alt="delete" width="28"></a></li>
  </ul>
</header>

<form ng-submit="submitPost()">
  <div class="title">
    <input type="text" placeholder="Enter Title…" ng-model="post.title" required>
  </div>
  
  <div class="copy">
    <textarea cols="30" rows="10" ng-model="post.copy"></textarea>
  </div>

  <div ng-show="aboutShow">
    <h3 id="aboutTitle">About This Note</h3>
    <div class="copy xtraCopy">
      <textarea cols="30" rows="10" ng-model="post.aboutCopy"></textarea>
    </div>
  </div>
  
  <div class="btn">
    <span></span>
    <input type="submit" value="SAVE">
  </div>
</form>