<header class="clearfix">
  <a ng-href="#/" class="home">
    <div class="arrow clearfix">
      <img id="rArrow" src="images/arrow.svg" alt="arrow" width="15">
      <span>All Notes</span>
    </div>
  </a>

  <ul>
    <li ng-click="switchToEdit()" id="pencil" ng-show="previewMode"><img src="images/pencil.svg" alt="edit" width="25"></li>
  </ul>
</header>

<form>
  <!-- Preview mode -->
  <div ng-show="previewMode">
    <div class="about">
      <h1>{{ post.title }}</h1>
    </div>

     <bgz-markdown markdown="post.copy" id="bgzMarkdown"></bgz-markdown>
  </div>

  <!-- Edit mode -->
  <div ng-hide="previewMode">
    <div class="title">
      <input type="text" placeholder="Enter Title…" ng-model="post.title" ng-change="post.$save(title)" required>
    </div>
    
    <div class="copy">
      <textarea cols="30" rows="10" ng-model="post.copy" ng-change="post.$save(copy)">{{ post.copy }}</textarea>
    </div>
    
    <div class="btn">
      <span></span>
      <input type="submit" value="PREVIEW" ng-click="switchToPreview()">
    </div>
  </div>
</form>